@page
<div>
    <nav>
        <a href="/swagger/index.html">SWAGUER</a>
        <hr />
        <a href="/Analitics/AntiguedadBienestar/index.html">Antiguedad bienestar</a>
        <hr />
        <a href="/Analitics/Biblioteca/index.html">Biblioteca Digital - Cobertura</a>
    </nav>
</div>